<h1>İtem Detay</h1>
<div class="cf">


  <div class="cf">
    aktifmi:{{item.active}}
    <div class="half left cf">
      {{item.body}}
    </div>
    <div class="half left cf">
      {{item.title}}
    </div>

  </div>

  <div class="half left cf">

    <span class="button" *ngIf="item.active" (click)="updateActive(false)">pasif</span>
    <span class="button" *ngIf="item.active" (click)="updateActive(true)">Aktif</span>

  </div>
  <div class="half left cf"> <span class="button" (click)="deleteItem()">Sil</span> </div>
</div>
